#a {
  height: 100px;
  background-color: red;
}
#b {
  float : left;
  width : 200px;
  height: 600px;
  background-color: purple;
}
#c {
  width: 50%;
  height: 200px;
  float: left;
  background-color: blue;
}
#d {
  width: 50%;
  height: 200px;
  float: left;
  background-color: green;
}
#e {
  float: left;
  width: 25%;
  height: 250px;
  background-color: yellow;
}
#f {
  float: left;
  width: 25%;
  height: 250px;
  background-color: orange;
}
#g {
  float: left;
  width: 25%;
  height: 250px;
  background-color: magenta;
}
#h {
  float: left;
  width: 25%;
  height: 250px;
  background-color: maroon;
}
#i {
  height: 150px;
  background-color: chocolate;
  float: left;
  width : 760px;
}